
.uploadImgBtn {
    width: 100px;
    background: #add8e6cc;
    color: #2976b6;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 14px;
    border: thin dashed cadetblue;
    padding: 4px;
    float: right;
    /* display: block; 
    margin-left: auto; /* Centers the block if you want */
    /* margin-right: auto; */ 
}

.editBox {
    display: inline-flex;
}

@media (max-width: 768px) {
    .editBox {
        display: block;
    }
}